앙상블 - 
OpenVaccine: COVID-19 mRNA Vaccine Degradation Prediction

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
sub1 = pd.read_csv('sample_submission.csv')
sub2 = pd.read_csv('submission (7).csv')
#sub3 = pd.read_csv('submission (8).csv')
#sub4 = pd.read_csv('submission (9).csv')
sub5 = pd.read_csv('submission_lstm_gru_ensemble.csv')
#sub6 = pd.read_csv('')
#sub7 = pd.read_csv('') 
#sub8 = pd.read_csv('')
#sub9 = pd.read_csv('')
#sub10 = pd.read_csv('')
# 앙상블모형은 점수가 높은것들을 조합해야 대부분 점수가 좋게 나옴

In [ ]:
sub = sub1

subs = [sub2, sub5]

In [ ]:
for col in  ['reactivity', 'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C']:
    for model in subs:
        sub[col] += model[col]
    sub[col] /= 3

In [ ]:
sub.to_csv('submissionfinal.csv', index = False)

In [ ]:
sub

               id_seqpos  reactivity  ...  deg_Mg_50C   deg_50C
0         id_00073f8be_0    0.475653  ...    0.369381  0.262443
1         id_00073f8be_1    1.449071  ...    2.032553  0.943534
2         id_00073f8be_2    0.991209  ...    0.536826  0.283530
3         id_00073f8be_3    0.850133  ...    1.006839  0.579776
4         id_00073f8be_4    0.533033  ...    0.550369  0.277183
...                  ...         ...  ...         ...       ...
457948  id_ffda94f24_125    0.152987  ...    0.390768  0.110637
457949  id_ffda94f24_126    0.244672  ...    0.444364  0.259942
457950  id_ffda94f24_127    0.430846  ...    0.255845  0.186715
457951  id_ffda94f24_128    0.142141  ...    0.247005  0.082505
457952  id_ffda94f24_129    0.121749  ...    0.390596  0.158527

[457953 rows x 6 columns]